.gear {
	width: 200px;
	height: 200px;
	/*background-color: #bdc3c7;*/
	background: url('../img/gear.png') no-repeat;
	background-size: 100%;
	margin: 10% auto;
	transition: transform 0.5s ease;
}

.gear:hover {
	transform: rotate(90deg);
}


.square {
	text-align: center;
	width: 200px;
	height: 200px;
	background-color: #bdc3c7;
	margin: 10% auto;
	transition: transform 0.5s ease;
}

.square > h3 {
	visibility: hidden;
	/*opacity: 0;*/
	/*transform: scaleX(-1);*/
	transition: all 0.5s ease-in-out;
	transform: rotateY(180deg);
}

.square:hover {
	/*transform: rotateY(180deg);*/
	transform: rotateY(180deg);
}

.square:hover > h3 {
	visibility: visible;
	/*opacity: 1;*/
}
