.gear {
	width: 200px;
	height: 200px;
	/*background-color: #bdc3c7;*/
	background: url('../img/gear.png') no-repeat;
	background-size: 100%;
	margin: 10% auto;
	transition: transform 0.5s ease;
}

.gear:hover {
	transform: rotate(90deg);
}


.square {
	text-align: center;
	width: 200px;
	height: 200px;
	background-color: #bdc3c7;
	margin: 10% auto;
	transition: transform 0.5s ease;
	transform: rotateY(180deg);
	transform-style: preserve-3d;
}

.square > h3 {
	backface-visibility:hidden;
}

.square:hover {
	transform: rotateY(0);
}
